@charset "utf-8";
/* CSS Document */
header,figure,nav{
display:block;	
	}
header{

width:1200px;
height:150px;
background-color:#C00;
opacity:0.7;
border-radius: 25px;
}

h1{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#FFF;
text-shadow: 2px 2px 8px #000000;

	}
h2{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#FFF;
	
font-size:14px;
	}	

.derecha{
width:950px;
float:left;
height:auto;
background-image:url(Imagenes/bright_squares.png);

}	.techo #derecha h1 span strong {
	color: #970F26;
}
nav {
	margin-top:20px;
width:1200px;
height:50px;
background-image:url(Imagenes/bright_squares.png);
border-bottom:dotted;
border-bottom-color:#FFF;
	
}

nav li{
background-color:#999;
width:150px;
height:50px;
float:left;
background-image:url(Imagenes/bright_squares.png);
	}
nav li a{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#FFF;	
font-stretch:expanded;
font-size:18px;
	}
.derecha{
	margin-top:20px;
float:left;
width:auto;
height:auto;
border:solid;
color:#FFF;
opacity:0.8;
background-color:#333;
display:inline;
	
	}
.container{
width:1200px;
height:600px;
	
}
#mostrar{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
margin-top:20px;
color:#FFF;	
	}
.izquierda{

width:410px;
height:281px;
border:solid;
color:#FFF;
float:right;
margin-top:20px;	
background-color:#F5F5DC;
opacity:0.6;	
	}
.alingri{
text-align:center;
color:#FFF;
text-shadow:none;
	}			